#main-div{
   margin: 0 auto; 
   margin-top: 5rem;
  width:50%;
  border: 1px solid black;
  padding: 0.6rem;
  border-radius: 5px;
  box-shadow: 5px;

}

#input-holder input{
  width: 100%;
  height: auto;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
}

#list{
  margin-top: 0.5rem;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
}

.list-element{
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.list-element p{
  margin: 0;
  width: auto;
  font-size: 16px;
  text-transform: uppercase;
}